@{
    ViewData["Title"] = "Confirmação apagar Tarefa";
}

<div class="text-center">
    <h3 style="color: red;">Realmente deseja Apagar a Tarefa ?</h3>

<br>
<a class="btn btn-secondary btn-block" role="button" asp-controller="Tarefa" asp-action="Index">Cancelar exclusão</a>
<a class="btn btn-danger btn-block" role="button" asp-controller="Tarefa" asp-action="Apagar">confirmar exclusão</a>

</div>