@{
    ViewData["Title"] = "Login";
}

<form asp-controller="Login" asp-action="Logar" method="post">
    <label for="">Nome Usuário</label>
    <input type="text" name="username"/>

    <label for="">Senha</label>
    <input type="password" name="senha"/>

    <input type="submit" value="Enviar">
</form>