@{
    Layout ="_LayoutDeslogado";
    ViewData["Title"] = "Pagina Restrita";
}
<div class="text-center">
    <p>Você não tem permissão para acessar pagina <a asp-controller="Home" asp-action="Index">Clique aqui Para voltar</a></p>
</div>